@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 14, 0, 4;
  --background-start-rgb: 14, 0, 4;
  --background-end-rgb: 14, 0, 4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 22, 15, 41;
    --background-start-rgb: 14, 0, 4;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  perspective: 600px;
}

.ball {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  transform-style: preserve-3d;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 40rem;
    height: 40rem;
  }
}

.ball:before,
.ball:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-style: preserve-3d;
}

.static-ball {
  background: radial-gradient(
    circle at 50% 120%,
    rgba(223, 13, 31, 0.38),
    rgba(171, 138, 4, 0.87)
  );
}

.ball-v1 {
  background: radial-gradient(
    circle at 50% 120%,
    rgba(10, 65, 57, 0.38),
    rgba(10, 132, 114, 0.87)
  );
}

.ball-v2 {
  background: radial-gradient(
    circle at 50% 120%,
    rgba(139, 23, 133, 0.7),
    rgba(28, 5, 30, 0.47)
  );
}

.static-ball::before {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(circle at 30% 30%, #791748, transparent);
  transform: translateZ(-1px);
  box-shadow:
    4px 0 20px rgba(142, 50, 23, 0.87),
    -2px 0 20px rgba(142, 50, 23, 0.87),
    4px 0 10px rgba(151, 43, 9, 0.97),
    -2px 0 40px rgba(151, 43, 9, 0.87);
}

.static-ball::after {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    radial-gradient(circle at 70% 40%, #8b4710, transparent);
  opacity: 30%;
  transform: translateZ(1px);
  box-shadow: 0 0 40px rgba(146, 200, 227, 0.67);
}

.ball-v1::before {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(circle at 30% 30%, #171c79, transparent);
  transform: translateZ(-1px);
  box-shadow:
    4px 0 20px rgba(38, 142, 142, 0.87),
    -2px 0 20px rgba(21, 100, 100, 0.87),
    4px 0 10px rgba(51, 100, 100, 0.87),
    -2px 0 40px rgba(21, 93, 93, 0.87);
}

.ball-v1::after {
  background: linear-gradient(
      to right,
      rgba(34, 55, 67, 0) 50%,
      rgb(3, 21, 37) 100%
    ),
    radial-gradient(circle at 70% 40%, #8b4710, transparent);
  opacity: 30%;
  transform: translateZ(1px);
  box-shadow:
    0 0 40px rgba(167, 203, 222, 0.67),
    -3px 0 40px rgba(167, 203, 222, 0.67);
}

.ball-v2::before {
  background: linear-gradient(
      to right,
      rgba(18, 3, 5, 0.49) 0%,
      rgba(26, 15, 25, 0.29) 50%
    ),
    radial-gradient(circle at 30% 30%, rgba(40, 3, 29, 0.44), transparent);
  transform: translateZ(-1px);
  box-shadow:
    4px 0 20px rgba(186, 88, 155, 0.21),
    -2px 0 20px rgba(39, 3, 36, 0.11),
    4px 0 10px rgba(229, 69, 181, 0.2),
    -2px 0 40px rgba(174, 149, 166, 0.74);
}

.ball-v2::after {
  background: linear-gradient(
      to right,
      rgba(70, 50, 65, 0.74) 50%,
      rgba(148, 77, 123, 0.74) 100%
    ),
    radial-gradient(circle at 70% 40%, #e57014, transparent);
  opacity: 30%;
  transform: translateZ(1px);
  box-shadow:
    0 0 40px rgba(49, 14, 38, 0.9),
    -3px 0 40px rgba(37, 5, 27, 0.94);
}
